 <!-- Advertiser Portfolio Section -->
 <section class="portfolio" id="advertiser">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Advertiser</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    {% for advertiser_project in site.advertiser_projects %}
                    <div class="col-lg-4 col-sm-6 portfolio-item">
                       <div class="row">
                        <div class="col-lg-12 text-center">
                            <h5>{{ advertiser_project.title }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <a href="{{ site.data.global.base_url }}/{{ advertiser_project.link }}" class="portfolio-link">
                                <div class="caption">
                                     <div class="caption-image">
                                        <img src="img/projects/{{ advertiser_project.img }}" class="img-responsive" alt="{{ advertiser_project.alt }}">
                                    </div>
                                    <div class="caption-content">
                                        {{ advertiser_project.description }}   
                                    </div>
                                </div>                            
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>